:root {
    --delft-blue: #2a3e73;
    --dun: #dcccbc;
    --chamoisee: #947b61;
    --alloy-orange: #c16220;
    --russet: #924e22;
    --primary-font: "Quicksand", Arial, sans-serif;
    --secondary-font: "Chilanka", cursive;
}