@media (min-width: 1024px) {

    header h1 {
        font-size: 3rem;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    nav a {
        font-size: 3.25rem;
        padding: 5px 20px;
    }
}