:root {
    --color-primary: #04044c;
    --color-secondary: #fef529;
    --color-tertiary: #8b635c;
    --color-accent: #8aa8a1;
    --color-light: #ced3dc;
    --primary-font: 'Domine', serif;
    --title-font: 'Germania One', system-ui, sans-serif;
}

footer {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-family: var(--primary-font);
    font-size: .75rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.socials {
    grid-column: 2/3;
    display: flex-wrap;
    justify-content: center;
    align-items: center;
}

.socials a {
    text-decoration: none;
    padding: 0.5rem;
}