:root {
    --indigo-dye: #0c4767;
    --burnt-sienna: #d7816a;
    --air-superiority-blue: #7ea0b7;
    --uranian-blue: #a9cef4;
    --vanilla: #f2f3ae;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    background-color: var(--indigo-dye);
    border-bottom: solid 3px var(--burnt-sienna);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--vanilla);
    font-weight: bold;
}

/* HAMBURGER */

.hamburger {
    background: none;
    border: none;
    color: var(--vanilla);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* NAVIGATION */

.navigation {
    display: none;
    margin: 0 auto;
    max-width: 750px;
    background-color: black;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    color: var(--uranian-blue);
    padding: .8rem 10px;
    text-decoration: none;
    border-bottom: solid 2px var(--burnt-sienna);
    font-weight: 600;
}

.navigation li.current {
    background-color: var(--burnt-sienna);
}

.navigation li.current a {
    color: black;
}

.navigation a:hover {
    background-color: var(--uranian-blue);
    color: var(--indigo-dye);
}

/* MAIN */

/* FOOTER */

footer {
    background-color: var(--indigo-dye);
    color: var(--vanilla);
    text-align: center;
}

footer img {
    width: 44px;
    height: 44px;
    padding: 20px 10px;
}

footer p {
    margin: 0;
    padding: 10px 0;
    font-size: 1.2rem;
}