:root {
    --indigo-dye: #0c4767;
    --burnt-sienna: #d7816a;
    --air-superiority-blue: #7ea0b7;
    --uranian-blue: #a9cef4;
    --vanilla: #f2f3ae;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
}

header {
    background-color: var(--indigo-dye);
    border-bottom: 10px solid var(--burnt-sienna);
    display: grid;
    grid-template-columns: .5fr 1fr 2fr .5fr;
    grid-template-rows: 1fr;
    min-height: 110px;
    justify-items: center;
    align-items: center;
}

header img {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 20px;
    box-shadow: 0px 0px 20px var(--air-superiority-blue);
    border-radius: 5px;
    border: 0.5px solid black;
}

.name {
    color: var(--vanilla);
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 20px;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: black 0px 0px 5px;
}

#menu {
    color: var(--vanilla);
    grid-column: 4/5;
    grid-row: 1/2;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    line-height: 1;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "✖";
}

nav {
    background-color: black;
    padding: 3px;
}

nav ul.navigation {
    list-style-type: none;
    display: none;
    flex-direction: column;
    justify-content: center;
}

nav ul.navigation.show {
    display: flex;
}

nav a {
    display: block;
    color: var(--uranian-blue);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    background-color: var(--uranian-blue);
    color: black;
}

main {
    background-color: var(--air-superiority-blue);
}

h1 {
    color: black;
    text-align: center;
    text-shadow: 0px 0px 5px white;
    padding: 10px;
}

section {
    background-color: white;
    border: 3px solid var(--indigo-dye);
    border-radius: 10px;
    margin: 15px;
}

section h2 {
    display: block;
    background-color: var(--indigo-dye);
    color: var(--vanilla);
    text-align: center;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.courseWork ul {
    list-style-type: disc;
    margin: 1rem 0;
    padding-left: 2rem;
}

.courseWork li {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--indigo-dye);
}

.location figure {
    text-align: center;
}

.location img {
    border: 1px solid var(--indigo-dye);
    border-radius: 5px;
    box-shadow: 0px 0px 20px var(--indigo-dye);
}

.location figcaption {
    text-align: center;
    font-size: 1.2rem;
    color: var(--indigo-dye);
    padding: 10px;
}

.certificate {
    padding: 1rem;
}

.certificate nav {
    background-color: white;
    border-bottom: 1px solid var(--air-superiority-blue);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.certificate nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.certificate nav ul.courseFilter {
    max-width: 100%;
    padding: 0 10px;
}

.certificate nav ul li {
    margin: 0 3px;
    border: 2px solid var(--indigo-dye);
    border-radius: 5px;
}

.certificate nav a {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--vanilla);
    color: var(--indigo-dye);
    display: block;
    text-align: center;
}

.certificate nav a:hover {
    background-color: var(--indigo-dye);
    color: var(--vanilla);
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--burnt-sienna);

}

.course-card:hover {
    cursor: pointer;
    background-color: var(--indigo-dye);

}

.course-card h3 {
    color: black;
    text-shadow: var(--vanilla) 0px 0px 5px;
}

#completed {
    background-color: var(--vanilla);
}

#completed:hover {
    background-color: var(--indigo-dye);
}

.credit-totals {
    text-align: center;
    color: var(--indigo-dye);
    font-size: 1.25rem;
    margin: 1rem 0;
    padding: 0.5rem;

}

dialog {
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid var(--burnt-sienna);
    background-color: var(--vanilla);
    color: var(--indigo-dye);

}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

dialog h2 {
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid var(--burnt-sienna);
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--burnt-sienna);
    color: var(--vanilla);
}


footer {
    background-color: var(--indigo-dye);
    color: var(--vanilla);
    text-align: center;
    border-top: 10px solid var(--burnt-sienna);
    padding: 10px;
}